body {
    background-color: rgb(41, 41, 41);
    font-family: sans-serif;
}
.result {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

.choice-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#rock,
#paper,
#scissors {
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#rock {
    background-color: rgb(153, 3, 3);
    border: 2px solid red;
}
#rock:hover {
    background-color: red;
    border: 2px solid white;
}
#rock:active {
    background-color: rgb(153, 3, 3);
}

#paper {
    background-color: rgb(9, 9, 143);
    border: 2px solid blue;
}
#paper:hover {
    background-color: blue;
    border: 2px solid white;
}
#paper:active {
    background-color: rgb(9, 9, 143);;
}


#scissors {
    background-color: green;
    border: 2px solid greenyellow;
}
#scissors:hover {
    background-color: rgb(0, 206, 0);
    border: 2px solid white;
}
#scissors:active {
    background-color: green;
}

.score {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

.final-result {
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: 20px;
    font-family: serif;
    background-color: black;
}

.line {
    border: 1px solid white;
    margin: 25px;
}